@font-face {

    font-family: "HARD_ROCK";
    src: url("../fonts/HARD_ROCK.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RocknRoll";
    src: url("../fonts/rocknroll_typo_crazy.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TheDark";
    src: url("../fonts/TheDark.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

nav {
    font-family: "TheDark", Arial, sans-serif;
}

body {

    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    background: repeating-linear-gradient(-65deg, #000 0 480px, #ea1f1f 480px 960px);
}